.bg-img {
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/login-bg.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure it occupies full height */
}

.login {
    background-color: hsla(0, 0%, 25%, 0.812);
    padding: 40px 60px;
    width: 400px;
    border-radius: 10px;
    z-index: 1; /* Ensure the form is above the background */
}

.btn {
    width: 100px;
    margin-left: 35px;
}

.forgot {
    cursor: pointer;
    transition: 0.5s;
}

.forgot:hover {
    color: hsla(0, 0%, 100%, 0.523);
    transform: scale(1.05);
}

.reg span {
    cursor: pointer;
}

.reg span:hover {
    color: hsla(0, 0%, 100%, 0.523);
}
