.dashboard {
    padding: 20px;
    text-align: center;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: white;
  }

  .content{
    margin-top: 100px;
  }
  